@font-face {
    font-family: 'onesize';
    src: url(./fonts/ONESIZE_.TTF) format('truetype');
}

$miLightPurple: #D99CFF;
$miDarkPurple: #A55A9F;
$miGreen: #62C859;
$miRed: #DC3235;
$miYellow: #F9B53B;

:root {
    font-family: 'onesize', sans-serif;

    * {
        box-sizing: border-box;
    }

    a, a:visited, a:link {
        color: $miYellow;

        &:hover, &:focus {
            color: $miRed;
        }
    }

    li {
        list-style: none;
    }

    button {
        color: white;
        background: $miRed;
        padding: .5rem 1rem;
        border-radius: .5rem;
        &:hover {
            background: $miYellow;
        }

    }
}

.start-screen {
    background: url('./images/bar-outside.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;

    p {
        text-align: center;
    }
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.5);
    width: 40%;
    color: white;
    padding: 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .logo {

        img {
            max-width: 100%;
            margin: 0 auto;
            flex: 1;
        }
    }

    button {
        display: flex;
        justify-self: center;
        align-self: center;
    }
}


// PlayScreen styling

.icon-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    padding: 0;
    margin: 0;

    li {
        font-size: large;

        &:hover {
            color: $miLightPurple;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.character-section {
    background-image: url('./images/bar-inside.png');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 10% 80%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text-box {
    text-align: center;
    font-size: 4.5vh;
    max-width: 60%;
    margin: 0 auto 10px auto;
    text-shadow:    2px 2px 0 #000,
                    -2px -2px 0 #000,
                    -2px 2px 0 #000,
                    2px -2px 0 #000;
}

.guybrush {
    color: white;
}

.pirate {
    color: $miGreen !important;
}

.sprites {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // border: 1px solid yellow;
    background-image: url('../src/images/sprites_static.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.dialogue-box {
    background: black;
    color: $miDarkPurple;
    
    bottom: 0;
    width: 100%;
    height: 30%;
    font-size: 4.5vh;
    display: flex;
    align-items: center;

    ul {
        margin: 0;
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    li {
        display: flex;
        gap: 10px;

        &:hover {
            cursor: pointer;
            color: $miLightPurple;
        }
    }
}



// MenuScreen stylings

.intro-screen, .quit-screen, .music-screen, .credits-screen, .win-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    z-index: 1000;
}

.intro-screen {
    background-color: rgba(0, 0, 0);

    h2 {
        max-width: 70%;
    }
}

.quit-screen {
    h1 {
        max-width: 80%;
        margin: 0 auto 1rem auto;
    }

    .quit-buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

.music-screen {
    h3 {
        margin: 1rem auto .5rem auto;
    }

    button {
        margin-top: 1.5rem;
    }
}

.credits-screen {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        display: flex;
        flex-direction: column;

        img {
            width: 50%;
            height: auto;
            margin: 0 auto 1rem auto;
        }
    }

    p {
        margin: .25rem 0;
    }

    h4 {
        max-width: 60%;
    }
}